<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" routerLink="/">
          <img
            src="../../assets/logo_transparent.png"
            width="70px"
            alt="Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Authors</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
    </div>
</nav>
<!-- <img class="mt-5 img-fluid w-50" src="../../assets/undraw_profile_re_4a55.svg" alt="">
<p></p> -->

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">I'm glad you're here</h2>
                    <p class="aboutus-text">This page is a result of school project. The site was created in angular technology using mdbootstrap. Data used in this project comes from Wolne Lektury API. Enjoy browsing the seit!</p>
                    <h2 class="aboutus-title">About Me</h2>
                    <p class="aboutus-text">Hello! My name is <a href="https://github.com/kakd20061" target="_blank">Kajetan Dąbrowski</a>. I am 17 years old back-end developer. I have 2 years of experience in programming. My journey in serious programming has begun with a series of tutorials to Unity in 2020. Now I am good at programming in C#. My favourite techology is ASP.net MVC.</p>
                </div>
            </div>
            <div class="col">
                <div class="aboutus-banner">
                    <img src="../../assets/undraw_profile_re_4a55.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>